<nav>
    <div class="nav-wrapper #7986cb indigo lighten-2">
      <a href="/" class="brand-logo center">MentorMe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">



        <% if current_user != nil %>
          <% if current_user.user_t == 'mentors' %>
              <li><%= link_to "Profile", mentors_path(current_user) %></li>
              <li id= "sign-out"><%= link_to "Sign Out", logout, method: "delete" %> </li>

              <% else %>

                <li><%= link_to "Profile", students_path(current_user) %></li>
                <li id= "sign-out"><%= link_to "Sign Out", logout, method: "delete" %> </li>
                <li><%= link_to "Log In", sign_up_path %></li>

        <% end %>



      <% else %>

            <li><%= link_to "Sign In", '/sessions/new' %></li>
            <li><%= link_to "Sign Up", sign_up_path %></li>

          <% end %>
      </ul>
    </div>
  </nav>