<div class="container">
      <h3>New Student Sign Up Page</h3>

      <%= form_for @student do |f| %>
        <div>
          <%= f.select :mentor_id, options_for_select(@mentors.pluck("first_name || ' ' || last_name", :id)) %>
        </div>
        <div>
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div>
          <%= f.text_field :username, placeholder: "Username" %>
        </div>
        <div>
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div>
          <%= f.text_field :password, placeholder: "Password" %>
        </div>
        <div>
          <%= f.text_field :interests, placeholder: "Interests" %>
        </div>
        <div>
          <%= f.text_field :age, placeholder: "Age" %>
        </div>


        <!-- the below could also be "Sign Up" -->
        <%= f.submit "Pick Your Mentor" %>
      <% end %>
</div>

