<div class="container">
      <h1>New Users Sign Up Page</h1>
      <%= form_for @student do |f| %>
        <div>
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div>
          <%= f.text_field :username, placeholder: "Username" %>
        </div>
        <div>
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div>
          <%= f.text_field :password, placeholder: "Password" %>
        </div>
        <div>
          <%= f.text_field :interests, placeholder: "Interests" %>
        </div>
        <div>
          <%= f.text_field :age, placeholder: "Age" %>
        </div>
        <!-- the below could also be "Sign Up" -->
        <%= f.submit "Pick Your Mentor" %>
      <% end %>
</div>

