<div class="container">
  <div class="row">
    List of Available Mentors
    <ul>
    <% @mentors.each do |mentor| %>
        <li><%= mentor.first_name %> <%= mentor.last_name %></li>
        <li><%= mentor.expertise %></li>
        <li><%= link_to "Edit", mentors_path(mentor) %> </li>
        <li>  <%= link_to "Remove", mentors_path(mentor), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
    </ul>
    <br>
  </div>
</div>